/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009ee3;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddqbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.tablecustom {
  display: table;
  width: 100% !important;
  background: white !important;
}
.tablecustom tr {
  width: 100% !important;
  background: white;
}

.tablecustom td {
  background: white;
}

.markdown h1:first-child {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.markdown > h2 {
  font-size: 1.5rem;
}

.markdown > h3 {
  font-size: 1.2rem;
}

.aa-SubmitIcon {
  fill: var(--ifm-navbar-link-hover-color) !important;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.heroBanner_src-pages-index-module {
  padding-top: 0 !important;
  margin-top: -5% !important;
  width: 100% !important;
}

.hero.hero--primary {
  width: 100% !important;
}

body {
  width: 100%;
}

